*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --btn-close: #FF4949;
    --btn-create: #1FB6FF;
    --btn-edit:#13CE66;
    --btn-delete:#FF4949;

    --primary-color: #FFBA00;
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
    


    font-size: 62.5%;
}